AI news summarizer.json
{
  "name": "My Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        64
      ],
      "id": "375d218f-2f4c-4ae9-a427-59804a18f7e3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.normaltech.ai/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        -128
      ],
      "id": "a2adfbd1-555e-4edb-bf92-8bd11d1ae326",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        256
      ],
      "id": "d6f0b713-f573-45cf-8189-6c9222748f31",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_forums"
            },
            {
              "name": "q",
              "value": "how to make the best coffee"
            },
            {
              "name": "api_key",
              "value": "ceb0648a89dca12b8835103ba54ff5cb2d7f61c937ce0a0dac6160aaa9e27b71"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        64
      ],
      "id": "18c4c2cd-f696-434c-91ec-de8e05917b45",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        48
      ],
      "id": "5d7a919a-58ca-4f20-80bb-8df3151328e7",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        48
      ],
      "id": "2c5b0fa0-eee9-412b-b43b-c9be49c7c1dc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI newsletter assistant creating a daily intelligence report. Analyze RSS feeds and event data to create:  AI NEWS HIGHLIGHTS  [5 most important AI developments]  TECHNOLOGY UPDATES ================== [Latest tech developments]  UPCOMING AI EVENTS  [List events with date, location, description] If no events found: \"No AI events scheduled this week\"  Format each news item: - Headline in ALL CAPS - 2-3 sentence summary - Article link  Sign off as \"Your AI Intelligence Team\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        864,
        48
      ],
      "id": "bafac9ba-bb22-4bf3-8ca9-6a47012e069d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        256
      ],
      "id": "a8936674-d990-4515-92ef-7b52571300aa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0bYgTrumseI3jnIG",
          "name": "Google Gemini(PaLM) Api account 436"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "charansridev@gmail.com",
        "subject": "Today's AI News for you...",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        48
      ],
      "id": "214bdf93-18a5-4a16-b151-f6fa8ddf8945",
      "name": "Send a message",
      "webhookId": "436fec22-07a6-4e0a-bc50-d46a0291fec0",
      "credentials": {
        "gmailOAuth2": {
          "id": "eo3MnQMzhKXw2oWU",
          "name": "Gmail account 1337"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe97c401-f32c-4f3d-97e4-65fdf11ea20f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "ZB3wl8Lk9IQhCGxx",
  "tags": []
}