Automated Social Media Content Generation with Image.json
{
  "name": "Automated Social Media Content Generation with Image",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=summarize this article {{ $json.newslink }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        224,
        0
      ],
      "id": "48c71b60-d793-42bd-8fe1-fbd1abc6e7f5",
      "name": "Summarize Article"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an Industry expert and create a ready-to-post LinkedIn content discussing key points from the provided news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current industry trends, and encourage professional engagement. Highlight notable implications for the industry and include a professional call to action.\nMake the post informative, structured, under 3000 characters, and ready to copy-paste directly to LinkedIn without any modifications.\nArticle summary: {{ $json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        576,
        0
      ],
      "id": "74348429-1547-4b75-a2e1-5b95cbad4bb6",
      "name": "Create LinkedIn Post"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a concise image prompt (max 50 words) for a LinkedIn post visual based on this AI article summary. Focus on modern, professional imagery with technology/business themes. Use clear descriptive terms suitable for AI image generation. {{ $json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        928,
        0
      ],
      "id": "6f570c33-4417-4d50-8fc3-06798d1e3ce1",
      "name": "Generate Image Prompt"
    },
    {
      "parameters": {
        "url": "={{ $json.data.generated[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        0
      ],
      "id": "958701c8-e307-4053-92fb-8d4eca5f8cfc",
      "name": "Download Image"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Juj01OehvkXx32NsjHgK0EJ-aCQanlhNUr9y2CkcGxw",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juj01OehvkXx32NsjHgK0EJ-aCQanlhNUr9y2CkcGxw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Juj01OehvkXx32NsjHgK0EJ-aCQanlhNUr9y2CkcGxw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c56c1f51-e82d-40e2-b494-e2164f35ca08",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "AbmHvcfVJbbHSwcg",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        224
      ],
      "id": "61ba96b1-0cfc-4e9c-a59d-ed16f6003e12",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "opGl9tU4uFcGiWMx",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        224
      ],
      "id": "76eb0e85-edc4-4e73-ac3e-862a46e757c9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "opGl9tU4uFcGiWMx",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        224
      ],
      "id": "9cf4625e-9f92-4783-96d8-c1f7007d2632",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "opGl9tU4uFcGiWMx",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.freepik.com/v1/ai/mystic",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSX8eb97ee68242a220dd74be5ada6fdafd"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        0
      ],
      "id": "c73ca8c4-9fc1-476d-b399-8812f7efcf97",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1504,
        0
      ],
      "id": "1b2012da-f52d-4e55-b67a-7211a9ee5cd1",
      "name": "Wait for Image",
      "webhookId": "2f97189c-8f36-4aff-b311-19cf3890e106"
    },
    {
      "parameters": {
        "url": "=https://api.freepik.com/v1/ai/mystic/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSX8eb97ee68242a220dd74be5ada6fdafd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        0
      ],
      "id": "273b313d-2664-4238-b3d6-40a2f933ba69",
      "name": "Check Status"
    },
    {
      "parameters": {
        "person": "TisHqyA1Af",
        "text": "={{ $('Create LinkedIn Post').item.json.text }}\n",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2208,
        0
      ],
      "id": "200c85af-7644-4bc7-8991-b7f160e9bc6e",
      "name": "Post to LinkedIn"
    }
  ],
  "pinData": {},
  "connections": {
    "Summarize Article": {
      "main": [
        [
          {
            "node": "Create LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create LinkedIn Post": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Summarize Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create LinkedIn Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait for Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Image": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5e9cb33d-0dfd-4224-8a19-c2ef9ca464dd",
  "meta": {
    "instanceId": "c21d9eee5980c4d969ea8387cbfc94611d830c69b775c1396fadb7a4326a207d"
  },
  "nodeGroups": [],
  "id": "ZuwxwNygDh3L3E8l",
  "tags": []
}